/*
	1 - Default Overrides
	2 - Media Overrides
*/

/*  section 1 */

body {
	background:-collor:yellow;
	margin:0;
	font-family:Arial,sans-serif;
	font-size:16px;
}

ul {
	list-style-type:disc;
	padding-left:15px;
}
div {
}

.player {
	 height: 250px;

	 width: 250px;
	 min-width: 250px;

	 float:left;
	 background-color: gray;
	border: solid 2px black;
}
.ppg {
	margin-left:4px;
	font-size: 28px;
	font-weight:bold;

}
.text {
		margin-left:4px;
	font-size: 12px;

}
.name {
	margin-left:4px;
	margin-top:8px;
	margin-bottom:8px;
	font-weight:bold;
	font-size: 14px;
	
}
.rank{
	margin-left:4px;
	font-style:italic;
	font-size: 11px;

}
.team{
	margin-top:4px;
	margin-left:4px;
	font-weight:bold;
	font-size: 11px;

}
.team-picture{
	margin-left:4px;
	float:left;
	float:bottom;
}
.player-picture{
	float:right;
}

/*
	2 - Media Overrides
*/

/* I put the desktop view at 1400 pixels anything bigger would probally be a jumbo view or something special
so desktop is from 1400- 640px */
@media screen and (max-width:1400px) {

	body {
		background-color:red;
		font-size:16px;
	}
	.player {
		width:24%;
		font-size:24px;
	}
}
/* tablet view anything 640 px or smaller*/
@media screen and (max-width:640px) {

	body {
		background-color:blue;

		font-size:16px;
	}
	.player {
		width:49%;
		font-size:24px;
	}

}

@media screen and (max-width:400px) {
	body {
		background-color:green;

		font-size:16px;
	}
	.player {
		width:100%;

	}
	#header-container {
		height:32px;
		padding:6px 20px 0 20px;
	}

}